---
import { Flex } from "styled-system/jsx";
---

<Flex gap={4} p={4}>
  <a href="/en" class="link" data-astro-prefetch>Home</a>
  <a href="/en/about" class="link" data-astro-prefetch>about</a>
  <a href="/en/trade" class="link">Trade</a>
  <a href="/en/earn" class="link">Earn</a>
  <a href="/en/dashboard" class="link">Dashboard</a>
</Flex>
